<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - FitJourney</title>
    <!-- Odwołanie do plików CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" asp-append-version="true">
    <link rel="stylesheet" href="/css/custom.css" asp-append-version="true">
</head>
<body>
    <div class="heading heading-1">
        <h1 class="title title-hover">Best Plans<br>Dietary and Training!</h1>
        <p class="subtitle">FitJourney is a comprehensive app that enables users to plan and monitor their diet and training in an efficient and organized way. Our platform integrates advanced meal planning and workout tools, enabling users to achieve their fitness goals.</p>
        <p class="subtitle">Thanks to our training diary, planning training becomes pure pleasure.</p>
    </div>
    <div class="heading heading-2">
        <p class="subtitle">You can easily save your achievements, which will help you continue to progress and achieve new goals. Tracking your progress has never been so easy and motivating. Enrich your training with a tool that supports your development every day!</p>
        <p class="subtitle">With us you can lose weight, maintain weight or build muscle mass. We offer tools and tips that will allow you to create a personalized nutrition plan tailored to your individual needs and goals. With us you will achieve your dream figure in a healthy and effective way.</p>
    </div>

</body>
</html>
