<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - FitJourney</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Best Diet and Workout Plans<br>Your Path to Better Fitness!</h1>
        <p>FitJourney is an innovative app that comprehensively supports users in planning and tracking their diet and workouts. Our platform integrates cutting-edge technology to offer advanced tools for precise meal and workout planning, enabling users to effectively achieve their personal fitness goals..</p>
        <div style="display: flex; justify-content: center; align-items: center;">
            <h2 style="margin-right: 20px; width: auto;">With our workout journal, planning your training sessions becomes a true pleasure.</h2>
            <img src="~/Images/Gym.jpg" alt="Gym" style="width: 400px; height: 400px;">
        </div>

        <p>Effortlessly track your achievements, enabling you to better pursue your goals and monitor your progress. Tracking your development has never been so simple and motivating. Equip yourself with a tool that supports your workouts and helps you achieve better results every day!</p>
        <div style="display: flex; align-items: center;">
            <img src="~/Images/DIET.jpg" alt="FitJourney Diet" style="width: 400px; height: 400px;">
            <h2 style="margin-left: 20px; width: auto;">Creating a diet plan has never been this easy.</h2>
        </div>


        <p> Achieve your fitness goals with ease—whether it's losing weight, maintaining your current weight, or building muscle. Our platform provides the tools and expert guidance you need to craft a customized nutrition plan tailored to your unique needs and objectives. Transform your physique in a healthy, effective way with our support..</p>
    </div>
</body>
</html>
